<clr-main-container>
  <div class="content-container">
    <div class="content-area">
      <div class="row" *ngIf="loading">
        <div class="col-xs-12 text-center">
          <span class="spinner">
            Loading...
          </span>
        </div>
      </div>
      <div class="row" *ngIf="!loading">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-header">
              {{course?.id}}: {{course?.name}}
            </div>
            <div class="card-block">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="card card-block">
                    <h3 class="card-title">{{course?.numReviews}}</h3>
                    <p class="card-text">
                      Reviews
                    </p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="card card-block" *ngIf="course?.average">
                    <h3 class="card-title">{{course?.average.workload | number}}</h3>
                    <p class="card-text">
                      Avg. Work (Hours / Week)
                    </p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="card card-block" *ngIf="course?.average">
                    <h3 class="card-title">{{course?.average.difficulty | number}}</h3>
                    <p class="card-text">
                      Avg. Diff. (1-5 Hardest)
                    </p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="card card-block" *ngIf="course?.average">
                    <h3 class="card-title">{{course?.average.rating | number}}</h3>
                    <p class="card-text">
                      Avg. Rating (1-5 Best)
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-block">
              <button class="btn btn-sm" [ngClass]="{'btn-primary': !percent}" (click)="percent = !percent">Counts</button>
              <button class="btn btn-sm" [ngClass]="{'btn-primary': percent}" (click)="percent = !percent">Percentage</button>
              <span *ngIf="percent">Percentages are based off of A-F grade counts.</span>
              <clr-datagrid *ngIf="percent">
                <clr-dg-column [clrDgField]="'semester'">Semester</clr-dg-column>
                <clr-dg-column [clrDgField]="'t'">Enrolled</clr-dg-column>
                <clr-dg-column [clrDgField]="'a'">% A</clr-dg-column>
                <clr-dg-column [clrDgField]="'b'">% B</clr-dg-column>
                <clr-dg-column [clrDgField]="'c'">% C</clr-dg-column>
                <clr-dg-column [clrDgField]="'d'">% D</clr-dg-column>
                <clr-dg-column [clrDgField]="'f'">% F</clr-dg-column>
                <clr-dg-column [clrDgField]="'w'">% Withdrew</clr-dg-column>
                <clr-dg-row *clrDgItems="let grade of grades?.semesterPercents">
                  <clr-dg-cell>{{grade.semester | semester}}</clr-dg-cell>
                  <clr-dg-cell>{{grade.t | number}}</clr-dg-cell>
                  <clr-dg-cell>{{grade.a * 100 | number}}</clr-dg-cell>
                  <clr-dg-cell>{{grade.b * 100 | number}}</clr-dg-cell>
                  <clr-dg-cell>{{grade.c * 100 | number}}</clr-dg-cell>
                  <clr-dg-cell>{{grade.d * 100 | number}}</clr-dg-cell>
                  <clr-dg-cell>{{grade.f * 100 | number}}</clr-dg-cell>
                  <clr-dg-cell>{{grade.w | number}}</clr-dg-cell>
                </clr-dg-row>
              </clr-datagrid>
              <clr-datagrid *ngIf="!percent">
                <clr-dg-column [clrDgField]="'semester'">Semester</clr-dg-column>
                <clr-dg-column [clrDgField]="'t'">Enrolled</clr-dg-column>
                <clr-dg-column [clrDgField]="'a'">A</clr-dg-column>
                <clr-dg-column [clrDgField]="'b'">B</clr-dg-column>
                <clr-dg-column [clrDgField]="'c'">C</clr-dg-column>
                <clr-dg-column [clrDgField]="'d'">D</clr-dg-column>
                <clr-dg-column [clrDgField]="'f'">F</clr-dg-column>
                <clr-dg-column [clrDgField]="'w'">Withdrew</clr-dg-column>
                <clr-dg-row *clrDgItems="let grade of grades?.semesterGrades">
                  <clr-dg-cell>{{grade.semester | semester}}</clr-dg-cell>
                  <clr-dg-cell>{{grade.t | number}}</clr-dg-cell>
                  <clr-dg-cell>{{grade.a | number}}</clr-dg-cell>
                  <clr-dg-cell>{{grade.b | number}}</clr-dg-cell>
                  <clr-dg-cell>{{grade.c | number}}</clr-dg-cell>
                  <clr-dg-cell>{{grade.d | number}}</clr-dg-cell>
                  <clr-dg-cell>{{grade.f | number}}</clr-dg-cell>
                  <clr-dg-cell>{{grade.w | number}}</clr-dg-cell>
                </clr-dg-row>
              </clr-datagrid>
            </div>
            <div class="card-footer" *ngIf="!newReview">
              <button class="btn btn-sm" [ngClass]="{'btn-primary': sortType === 'semester'}" (click)="sortBySemester()">Sort by Semester
                <i *ngIf="sortType === 'semester' && sortDir === true" class="fa fa-angle-up" aria-hidden="true"></i>
                <i *ngIf="sortType === 'semester' && sortDir === false" class="fa fa-angle-down" aria-hidden="true"></i>
              </button>
              <button class="btn btn-sm" [ngClass]="{'btn-primary': sortType === 'date'}" (click)="sortByDate()">Sort by Date
                <i *ngIf="sortType === 'date' && sortDir === true" class="fa fa-angle-up" aria-hidden="true"></i>
                <i *ngIf="sortType === 'date' && sortDir === false" class="fa fa-angle-down" aria-hidden="true"></i>
              </button>
              <button class="btn btn-sm btn-link" (click)="newReview = true">Write a Review</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="newReview && !loading">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <oms-review [review]="review" (saveNew)="saveNew($event)" (cancelNew)="cancelNew($event)"></oms-review>
        </div>
      </div>
      <div class="row" *ngIf="course.numReviews > 0 && reviews.length === 0 && !loading">
        <div class="col-xs-12 text-center">
          <span class="spinner">
            Loading...
          </span>
        </div>
      </div>
      <div class="row" *ngIf="!loading">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <oms-review [review]="review" (remove)="remove($event)" (update)="update($event)" *ngFor="let review of reviews"></oms-review>
        </div>
      </div>
    </div>
  </div>
</clr-main-container>