<clr-main-container>
  <div class="content-container">
    <div class="content-area">
      <div class="row" *ngIf="loading">
        <div class="col-xs-12 text-center">
            <span class="spinner">
                Loading...
            </span>
        </div>
      </div>
      <div class="row" *ngIf="!loading">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-header">
              {{course?.id}}: {{course?.name}}
            </div>
            <div class="card-block">
              <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="card card-block">
                    <h3 class="card-title">{{course?.numReviews}}</h3>
                    <p class="card-text">
                      Reviews
                    </p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="card card-block" *ngIf="course?.average">
                    <h3 class="card-title">{{course?.average.workload | number}}</h3>
                    <p class="card-text">
                      Avg. Work (Hours / Week)
                    </p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="card card-block" *ngIf="course?.average">
                    <h3 class="card-title">{{course?.average.difficulty | number}}</h3>
                    <p class="card-text">
                      Avg. Diff. (1-5 Hardest)
                    </p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                  <div class="card card-block" *ngIf="course?.average">
                    <h3 class="card-title">{{course?.average.rating | number}}</h3>
                    <p class="card-text">
                      Avg. Rating (1-5 Best)
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer" *ngIf="!newReview">
              <button class="btn btn-sm btn-link" (click)="newReview = true">Write a Review</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="newReview && !loading">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <oms-review [review]="review" (saveNew)="saveNew($event)" (cancelNew)="cancelNew($event)"></oms-review>
        </div>
      </div>
      <div class="row" *ngIf="course.numReviews > 0 && reviews.length === 0 && !loading">
          <div class="col-xs-12 text-center">
              <span class="spinner">
                  Loading...
              </span>
          </div>
        </div>
      <div class="row" *ngIf="!loading">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card-columns card-columns-2">
            <oms-review [review]="review" (remove)="remove($event)" (update)="update($event)" *ngFor="let review of reviews"></oms-review>
          </div>
        </div>
      </div>
    </div>
  </div>
</clr-main-container>