<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">OMSCentral</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a>
      </li>
      <li class="nav-item" *ngIf="(authenticated)">
        <a href class="nav-link" routerLink="/profile" routerLinkActive="active">My Profile</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" routerLink="/courses" routerLinkActive="active">Courses</a>
      </li>
      <li class="nav-item" *ngIf="(authenticated)">
        <a href class="nav-link" routerLink="/recent" routerLinkActive="active">Recent</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" routerLink="/donate" routerLinkActive="active">Donate</a>
      </li>
      <li class="nav-item" *ngIf="(authenticated && user.admin)">
        <a href class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
      </li>
    </ul>
    <!-- <span class="navbar-text"> -->
    <div class="pull-right">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item github-btn">
          <ng-gh-btn username="martzcodes" reponame="OMSCentral" type="star" count="true"></ng-gh-btn>
        </li>
        <li class="nav-item">
          <a *ngIf="authenticated">
            <img [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
          </a>
        </li>
        <li class="nav-item" *ngIf="authenticated">
          <a href class="nav-link active">{{ user.displayName }}</a>
        </li>
        <li class="nav-item" *ngIf="!(authenticated)">
          <a href class="nav-link active nav-auth" href="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="(authenticated)">
          <a href class="nav-link active nav-auth" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
