<header class="header-6">
  <div class="branding">
    <a href="/" class="nav-link">
      <span class="title">OMS Central</span>
    </a>
  </div>
  <!-- <form class="search">
        <label for="search_input">
            <input id="search_input" type="text" placeholder="Search for keywords...">
        </label>
    </form> -->
  <div class="settings">
    <ng-gh-btn class="github-btn" username="martzcodes" reponame="OMSCentral" type="star" count="true"></ng-gh-btn>
    <a class="active nav-link nav-icon" *ngIf="user">
      <img [src]="user.photoURL || 'https://api.adorable.io/avatars/109/fire.png'" width=50px>
    </a>
    <a class="active nav-link nav-text" *ngIf="user">
      <span class="nav-text">{{ user.displayName }}</span>
    </a>
    <a class="active nav-link nav-text" *ngIf="!(user)" href="/login">
      <span class="nav-text">Login</span>
    </a>
    <a class="active nav-link nav-text" *ngIf="(user)" (click)="logout()">
      <span class="nav-text">Logout</span>
    </a>
  </div>
</header>
<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a href class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About</a>
    </li>
    <li class="nav-item" *ngIf="(authenticated)">
      <a href class="nav-link" routerLink="/profile" routerLinkActive="active">My Profile</a>
    </li>
    <li class="nav-item">
      <a href class="nav-link" routerLink="/courses" routerLinkActive="active">Courses</a>
    </li>
    <li class="nav-item">
      <a href class="nav-link" routerLink="/donate" routerLinkActive="active">Donate</a>
    </li>
    <li class="nav-item" *ngIf="(authenticated && user.admin)">
      <a href class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
    </li>
  </ul>
</nav>