<header class="header-background accent-bg">
  <div class="header-section">
    <div class="header-headline">
      <img class="omscentral-logo" src="../../../assets/omscentral-logo.svg" alt="omscentral">
      <h2>Unofficial course review site for Georgia Tech's OMSCS and OMSA Programs</h2>
    </div>
  </div>
</header>

<div class="homepage-promo">
  <div class="homepage-grid">
    <mat-card>
      <mat-card-title>
        What is this app?
      </mat-card-title>
      <mat-card-content>
        <p>This app was originally created for GT OMSCS students to get a feel for course difficulty and workload.</p>
        <p>It is not endorsed or sponsored by the official OMSCS program or staff.</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Who maintains this app?
      </mat-card-title>
      <mat-card-content>
        <p>Matt Martz</p>
        <div class="space-between">
          <a class="primary" href="https://linkedin.com/in/martzcodes" aria-label="linkedin" target="_blank">
            <i class="fa fa-3x fa-linkedin"></i>
          </a>
          <a class="primary" href="https://twitter.com/martzcodes" aria-label="twitter" target="_blank">
            <i class="fa fa-3x fa-twitter-square"></i>
          </a>
          <a class="primary" href="https://github.com/martzcodes" aria-label="github" target="_blank">
            <i class="fa fa-3x fa-github-square"></i>
          </a>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        How do I publish a review?
      </mat-card-title>
      <mat-card-content>
        <p>After signing in, click the
          <a mat-raised-button color="accent" routerLink="/reviews">Write a Review</a> button.</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        I am concerned about privacy. How is my information kept secure?
      </mat-card-title>
      <mat-card-content>
        <a class="primary" href="/privacy" aria-label="privacy">Privacy Policy</a>
        <p>The app records only your name, email, profile image URL, and OMSCS specialization (if set).</p>
        <p>For now... all reviews are shown anonymously (to save on bandwidth). We may go back to the toggle-anonymity in the
          future (which will be opt-in).</p>
        <p>
          <a class="primary" href="https://firebase.google.com/docs/database/security/" target="_blank" aria-label="firebase">Firebase's security infrastructure</a> guarantees that this information is accessible only to individuals who are
          registered and authenticated.</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Need to report an issue or an enhancement request?
      </mat-card-title>
      <mat-card-content Markdown>
        <p>Please submit on
          <a class="primary" href="https://github.com/martzcodes/omscentral/issues" target="_blank" aria-label="github-issues">GitHub.</a>
        </p>
        <p>Requests are prioritized based on the amount of activity/support from the OMSCS community. ***I'll happily accept
          money to move something higher in the queue.***</p>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>
        Have a question not answered here?
      </mat-card-title>
      <mat-card-content>
        <p>If you are a student and on the OMSCS Slack workspace... we have a channel setup at
          <strong>
            <a class="primary" href="https://omscs-study.slack.com/messages/C83FX0M2S" target="_blank" aria-label="slack">#OMSCentral.</a>
          </strong>
        </p>
        <p>My user name on slack is
          <strong>
            <i>martzcodes</i>
          </strong>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-card class="card" style="width: 80%">
    <mat-card-title>How can I help?</mat-card-title>
    <mat-card-content>
      <p>
        <a mat-raised-button color="accent" routerLink="/reviews" aria-label="write-a-review">Write a Review</a>
      </p>
      <p>Or... Please consider making a donation (
        <a class="primary" href="https://www.paypal.me/martz" target="_blank" aria-label="paypal">PayPal</a> ). Even a dollar goes a long way. Thank you!</p>
      <p>Or... take a look at some of our
        <a class="primary" href="https://github.com/martzcodes/omscentral/issues" target="_blank" aria-label="github-issues">issues</a> and contribute code.</p>
      <p>Or... star the project on
        <a class="primary" href="https://github.com/martzcodes/omscentral" target="_blank" aria-label="github-repo">Github</a>.</p>
    </mat-card-content>
  </mat-card>
</div>