<div class="card">
  <div class="card-header">
    Courses
  </div>
  <div class="card-body course-text">
    <h5>Some courses don't have grade or enrollment information.</h5>
  </div>
  <div class="card-body course-text form-inline">
    <button class="btn btn-sm" [ngClass]="{'btn-primary': specialization == 'all'}" (click)="changeSpecialization('all')">All</button>
    <button class="btn btn-sm" [ngClass]="{'btn-primary': specialization == 'cpr'}" (click)="changeSpecialization('cpr')">Computational Perception and Robotics</button>
    <button class="btn btn-sm" [ngClass]="{'btn-primary': specialization == 'cs'}" (click)="changeSpecialization('cs')">Computing Systems</button>
    <button class="btn btn-sm" [ngClass]="{'btn-primary': specialization == 'ii'}" (click)="changeSpecialization('ii')">Interactive Intelligence</button>
    <button class="btn btn-sm" [ngClass]="{'btn-primary': specialization == 'ml'}" (click)="changeSpecialization('ml')">Machine Learning</button>
    <input type="text" class="form-control ml-auto" placeholder="Search courses" aria-label="Search courses" (keyup)="onSearchKeyup($event)" />
  </div>
  <div class="card-body course-text">
    <div class="btn-group" role="group">
      <button class="btn btn-sm" [ngClass]="{'btn-primary': !percent, 'btn-default': percent}" (click)="percent = !percent">Counts</button>
      <button class="btn btn-sm" [ngClass]="{'btn-primary': percent, 'btn-default': !percent}" (click)="percent = !percent">Percentage</button>
      <span *ngIf="percent">&nbsp;&nbsp;Percentages are based off of A-F grade counts.</span>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-sm table-striped">
      <thead>
        <tr>
          <th class="clickable" scope="col" (click)="sort('id')">Course&nbsp;
            <i *ngIf="sortObj.type === 'id' && sortObj.dir === 1" class="fa fa-angle-up"></i>
            <i *ngIf="sortObj.type === 'id' && sortObj.dir === -1" class="fa fa-angle-down"></i></th>
          <th class="clickable" scope="col" (click)="sort('grades.totals.t')">Enrolled&nbsp;
            <i *ngIf="sortObj.type === 'grades.totals.t' && sortObj.dir === 1" class="fa fa-angle-up"></i>
            <i *ngIf="sortObj.type === 'grades.totals.t' && sortObj.dir === -1" class="fa fa-angle-down"></i></th>
          <th class="clickable" scope="col" (click)="sort('numReviews')">Reviews&nbsp;
            <i *ngIf="sortObj.type === 'numReviews' && sortObj.dir === 1" class="fa fa-angle-up"></i>
            <i *ngIf="sortObj.type === 'numReviews' && sortObj.dir === -1" class="fa fa-angle-down"></i></th>
          <th class="clickable" scope="col" (click)="sort('average.workload')">Avg. Work&nbsp;
            <i *ngIf="sortObj.type === 'average.workload' && sortObj.dir === 1" class="fa fa-angle-up"></i>
            <i *ngIf="sortObj.type === 'average.workload' && sortObj.dir === -1" class="fa fa-angle-down"></i></th>
          <th class="clickable" scope="col" (click)="sort('average.difficulty')">Avg. Dif.&nbsp;
            <i *ngIf="sortObj.type === 'average.difficulty' && sortObj.dir === 1" class="fa fa-angle-up"></i>
            <i *ngIf="sortObj.type === 'average.difficulty' && sortObj.dir === -1" class="fa fa-angle-down"></i></th>
          <th class="clickable" scope="col" (click)="sort('average.rating')">Avg. Rating&nbsp;
            <i *ngIf="sortObj.type === 'average.rating' && sortObj.dir === 1" class="fa fa-angle-up"></i>
            <i *ngIf="sortObj.type === 'average.rating' && sortObj.dir === -1" class="fa fa-angle-down"></i></th>
          <th class="clickable" scope="col" *ngIf="percent" (click)="sort('grades.percents.ab')">% &ge; B&nbsp;
            <i *ngIf="sortObj.type === 'grades.percents.ab' && sortObj.dir === 1" class="fa fa-angle-up"></i>
            <i *ngIf="sortObj.type === 'grades.percents.ab' && sortObj.dir === -1" class="fa fa-angle-down"></i></th>
          <th class="clickable" scope="col" *ngIf="percent" (click)="sort('grades.percents.cdf')">% &le; C&nbsp;
            <i *ngIf="sortObj.type === 'grades.percents.cdf' && sortObj.dir === 1" class="fa fa-angle-up"></i>
            <i *ngIf="sortObj.type === 'grades.percents.cdf' && sortObj.dir === -1" class="fa fa-angle-down"></i></th>
          <th class="clickable" scope="col" *ngIf="!percent" (click)="sort('grades.totals.ab')">&ge; B&nbsp;
            <i *ngIf="sortObj.type === 'grades.totals.ab' && sortObj.dir === 1" class="fa fa-angle-up"></i>
            <i *ngIf="sortObj.type === 'grades.totals.ab' && sortObj.dir === -1" class="fa fa-angle-down"></i></th>
          <th class="clickable" scope="col" *ngIf="!percent" (click)="sort('grades.totals.cdf')">&le; C&nbsp;
            <i *ngIf="sortObj.type === 'grades.totals.cdf' && sortObj.dir === 1" class="fa fa-angle-up"></i>
            <i *ngIf="sortObj.type === 'grades.totals.cdf' && sortObj.dir === -1" class="fa fa-angle-down"></i></th>
          <th class="clickable" scope="col" (click)="sort('grades.totals.w')">Withdrew&nbsp;
            <i *ngIf="sortObj.type === 'grades.totals.w' && sortObj.dir === 1" class="fa fa-angle-up"></i>
            <i *ngIf="sortObj.type === 'grades.totals.w' && sortObj.dir === -1" class="fa fa-angle-down"></i></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td>
            <a [routerLink]="['/courses', course.id]">{{course.combined}}</a>
          </td>
          <td>{{course.grades?.totals.t | number}}</td>
          <td>{{course.numReviews | number}}</td>
          <td>{{course.average?.workload | number}}</td>
          <td>{{course.average?.difficulty | number}}</td>
          <td>{{course.average?.rating | number}}</td>
          <td *ngIf="percent">{{100 * course.grades?.percents.ab | number}}</td>
          <td *ngIf="percent">{{100 * course.grades?.percents.cdf | number}}</td>
          <td *ngIf="!percent">{{course.grades?.totals.ab | number}}</td>
          <td *ngIf="!percent">{{course.grades?.totals.cdf | number}}</td>
          <td>{{course.grades?.totals.w | number}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
