<form [formGroup]="reviewForm" novalidate>
  <mat-card *ngIf="review">
    <mat-card-content class="review-fields">
      <mat-form-field [floatLabel]="'always'">
        <mat-select required formControlName="course">
          <mat-option *ngFor="let course of courses" [value]="course.id">{{course.combined}}</mat-option>
        </mat-select>
        <mat-label>Course</mat-label>
      </mat-form-field>
      <mat-form-field [floatLabel]="'always'">
        <mat-select required formControlName="program">
          <mat-option *ngFor="let program of programs" [value]="program">{{program | program}}</mat-option>
        </mat-select>
        <mat-label>Program</mat-label>
      </mat-form-field>
      <mat-form-field [floatLabel]="'always'">
        <mat-select required formControlName="semester">
          <mat-option *ngFor="let semester of semesters" [value]="semester">{{semester | semester}}</mat-option>
        </mat-select>
        <mat-label>Semester</mat-label>
      </mat-form-field>
      <mat-form-field [floatLabel]="'always'">
        <mat-select required formControlName="rating">
          <mat-option *ngFor="let rating of ratings" [value]="rating">{{rating | rating}}</mat-option>
        </mat-select>
        <mat-label>Rating</mat-label>
      </mat-form-field>
      <mat-form-field [floatLabel]="'always'">
        <mat-select required formControlName="difficulty">
          <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty">{{difficulty | difficulty}}</mat-option>
        </mat-select>
        <mat-label>Difficulty</mat-label>
      </mat-form-field>
      <mat-form-field [floatLabel]="'always'">
        <mat-label>Workload (hrs/week)</mat-label>
        <input matInput required type="number" formControlName="workload">
      </mat-form-field>
      <mat-form-field [floatLabel]="'always'">
        <mat-label>Previous # of Classes Taken</mat-label>
        <input matInput type="number" formControlName="previousClasses">
      </mat-form-field>

      <mat-form-field [floatLabel]="'always'">
        <mat-label># of Projects</mat-label>
        <input matInput type="number" formControlName="projects">
      </mat-form-field>

      <mat-form-field [floatLabel]="'always'">
        <mat-label># of Group Projects</mat-label>
        <input matInput type="number" formControlName="groupProjects">
      </mat-form-field>

      <mat-form-field [floatLabel]="'always'">
        <mat-label># of Tests</mat-label>
        <input matInput type="number" formControlName="tests">
      </mat-form-field>

      <mat-checkbox formControlName="firstCourse">I would recommend this as a first course</mat-checkbox>
      <mat-checkbox formControlName="extraCredit">Extra credit was offered</mat-checkbox>
      <mat-checkbox formControlName="frontLoad">Can front load / work ahead?</mat-checkbox>
      <mat-checkbox formControlName="proctorTrack">Course used ProctorTrack</mat-checkbox>
    </mat-card-content>
    <mat-card-content class="review-form">
      <mat-form-field [floatLabel]="'always'">
        <mat-label>Review (markdown supported)</mat-label>
        <textarea matInput id="review_text" rows="5" formControlName="text"></textarea>
      </mat-form-field>
      <markdown id="markdown_preview" [data]="review.text"></markdown>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="button" (click)="save()" [disabled]="reviewForm.invalid">Save</button>
      <button mat-raised-button color="warn" *ngIf="review.id" (click)="delete()">Delete</button>
    </mat-card-actions>
  </mat-card>
</form>
