.review-fields {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1vh;
}

.review-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1vh;
}

@media (min-width: 960px) {
  .review-fields {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1vh;
  }

  .review-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1vh;
  }
}