<div class="login-wrapper">
  <form class="login">
    <label class="title">
      <h3 class="welcome">Welcome to</h3>
      OMS Central
      <h5 class="hint">Share your OMSCS experience with your classmates.</h5>
    </label>
    <div class="login-group">
      <input class="username" type="text" id="login_username" placeholder="Username">
      <input class="password" type="password" id="login_password" placeholder="Password">
      <div class="error active">
        Invalid user name or password
      </div>
      <button type="submit" class="btn btn-primary">LOGIN</button>
      <div class="signup">
        <span>Don't have an account?</span>
        <a href="javascript://" class="signup">Register</a>
      </div>

      <br />
      <br />
      <div class="signup">or</div>

      <div class="signup">
        <div class="btn-group btn-link">
          <button class="btn">
            <i class="fa fa-github fa-3x" aria-hidden="true"></i>
          </button>
          <button class="btn">
            <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
          </button>
          <button class="btn">
            <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
          </button>
          <button class="btn">
            <i class="fa fa-google fa-3x" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>