<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-subtitle></mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <p>
        <mat-form-field>
          <input matInput type="text" id="login_email" placeholder="Email" formControlName="email" required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input matInput type="password" id="login_password" placeholder="Password" formControlName="password" required>
        </mat-form-field>
      </p>

      <p *ngIf="error$ | async" class="loginError">
        {{ error$ | async }}
        <button mat-button type="button" style="cursor: pointer" *ngIf="loginForm.value.email" (click)="resetPassword()">Reset Password?</button>
      </p>

      <p *ngIf="reset" class="loginError">
        A password reset email has been sent.
      </p>

      <p class="loginButtons">
        <button type="submit" mat-raised-button color="primary" (click)="login()" [disabled]="loginForm.invalid">Login</button>
      </p>

      <hr/>

      <p>
        <span class="social-buttons">
          <button mat-icon-button (click)="social('github')">
            <i class="fa fa-github fa-3x" aria-hidden="true"></i>
          </button>
          <button mat-icon-button (click)="social('twitter')">
            <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
          </button>
          <button mat-icon-button (click)="social('facebook')">
            <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
          </button>
          <button mat-icon-button (click)="social('google')">
            <i class="fa fa-google fa-3x" aria-hidden="true"></i>
          </button>
        </span>
      </p>

      <hr/>

      <p class="text-center">
        <span>Don't have an account?</span>
        <button mat-button [routerLink]="['/register']">Register</button>
      </p>

    </form>
  </mat-card-content>
</mat-card>