<div class="card" *ngIf="review">
  <div class="card-header">
    <span class="card-title" *ngIf="title && courseName">
      <a [routerLink]="['/courses', review.course]">{{review.course}}: {{courseName}}</a>
    </span>
    <ng-template #whyId>This author has not shared their identity</ng-template>
    <span class="card-title" *ngIf="!(title && courseName)" [ngbTooltip]="whyId">
      Author: {{review.author}}
    </span>
    <span class="pull-right" *ngIf="authId == review.author">
      <button class="btn btn-sm btn-link" (click)="edit()">Edit</button>
      <button class="btn btn-sm btn-danger-outline" (click)="delete()">Delete</button>
    </span>
    <span class="card-text pull-right">
      <span *ngIf="review.updated">{{review.updated | date:'short'}}</span>
      <span *ngIf="!review.updated">{{review.created | date:'short'}}</span>
    </span>
  </div>
  <div class="card-body">
    <p class="card-text">
      <markdown [data]="review.text"></markdown>
    </p>
  </div>
  <div class="card-footer">
    <span class="badge badge-primary" *ngIf="review.semester &&  review.semester !== '0000-0'">{{review.semester | semester}}</span>
    <span class="badge badge-secondary" *ngIf="review.difficulty">{{review.difficulty | difficulty}}</span>
    <span class="badge badge-info" *ngIf="review.rating">{{review.rating | rating}}</span>
    <span class="badge badge-warning" *ngIf="review.workload">{{review.workload | workload}}</span>
    <span class="badge badge-success" *ngIf="review.program">{{review.program | program}}</span>
  </div>
</div>
