<div *ngIf="!(course?.combined && grades)" class="text-center">
  <div class="fa fa-spinner fa-spin fa-2x"></div>
</div>
<div *ngIf="course?.combined && grades">
  <mat-list role="list" *ngIf="course?.combined">
    <mat-list-item role="listitem">
      <h4 mat-line>{{course?.combined}}</h4>
    </mat-list-item>
    <mat-list-item role="listitem" *ngIf="course?.numReviews">
      <h4 mat-line>Reviews</h4>
      <div>
        <span *ngIf="stats.num">{{stats?.num}} / </span>{{course?.numReviews}}
      </div>
    </mat-list-item>
    <mat-list-item role="listitem" *ngIf="course?.average?.workload">
      <h4 mat-line>Average Work</h4>
      <p mat-line>Hours/week</p>
      <div>
        <span *ngIf="stats?.workload">{{stats?.workload | number}} / </span>{{course?.average?.workload | number}}
      </div>
    </mat-list-item>
    <mat-list-item role="listitem" *ngIf="course?.average?.difficulty">
      <h4 mat-line>Average Difficulty</h4>
      <p mat-line>(Easy) 1 - 5 (Hard)</p>
      <div>
        <span *ngIf="stats?.difficulty">{{stats?.difficulty | number}} / </span>{{course?.average?.difficulty | number}}
      </div>
    </mat-list-item>
    <mat-list-item role="listitem" *ngIf="course?.average?.rating">
      <h4 mat-line>Average Rating</h4>
      <p mat-line>(Worst) 1 - 5 (Best)</p>
      <div>
        <span *ngIf="stats?.rating">{{stats?.rating | number}} / </span>{{course?.average?.rating | number}}
      </div>
    </mat-list-item>
  </mat-list>
  <table mat-table #table *ngIf="grades" [dataSource]="grades?.semesterGrades" style="width: 100%">

    <!-- semester Column -->
    <ng-container matColumnDef="semester">
      <th mat-header-cell *matHeaderCellDef> Semester </th>
      <td mat-cell *matCellDef="let element"> {{element.semester | semester}} </td>
    </ng-container>

    <!-- total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Enrolled </th>
      <td mat-cell *matCellDef="let element"> {{element.total | number}} </td>
    </ng-container>

    <!-- a Column -->
    <ng-container matColumnDef="a">
      <th mat-header-cell *matHeaderCellDef> A </th>
      <td mat-cell *matCellDef="let element"> {{element.a | number}} </td>
    </ng-container>

    <!-- b Column -->
    <ng-container matColumnDef="b">
      <th mat-header-cell *matHeaderCellDef> B </th>
      <td mat-cell *matCellDef="let element"> {{element.b | number}} </td>
    </ng-container>

    <!-- c Column -->
    <ng-container matColumnDef="c">
      <th mat-header-cell *matHeaderCellDef> C </th>
      <td mat-cell *matCellDef="let element"> {{element.c | number}} </td>
    </ng-container>

    <!-- d Column -->
    <ng-container matColumnDef="d">
      <th mat-header-cell *matHeaderCellDef> D </th>
      <td mat-cell *matCellDef="let element"> {{element.d | number}} </td>
    </ng-container>

    <!-- f Column -->
    <ng-container matColumnDef="f">
      <th mat-header-cell *matHeaderCellDef> F </th>
      <td mat-cell *matCellDef="let element"> {{element.f | number}} </td>
    </ng-container>

    <!-- w Column -->
    <ng-container matColumnDef="w">
      <th mat-header-cell *matHeaderCellDef> W </th>
      <td mat-cell *matCellDef="let element"> {{element.w | number}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<oms-course-list [displayedColumns]="['combined']" [shortened]="true"></oms-course-list>
