<div *ngIf="!((course$ | async)?.combined)" class="text-center">
  <div class="fa fa-spinner fa-spin fa-2x"></div>
</div>
<div *ngIf="(course$ | async)?.combined">
  <mat-list role="list" *ngIf="(course$ | async)?.combined">
    <mat-list-item role="listitem">
      <h4 mat-line>{{(course$ | async)?.combined}}</h4>
    </mat-list-item>
    <mat-list-item *ngIf="authId" role="listitem">
      <div mat-line style="text-align: right;">
        <a mat-raised-button color="accent" [routerLink]="['/reviews']" [queryParams]="{courseId: courseId}">Write a Review</a>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem" *ngIf="(course$ | async)?.numReviews">
      <h4 mat-line>Reviews</h4>
      <div>
        <span *ngIf="(stats$ | async)?.num">{{(stats$ | async)?.num}} / </span>{{(course$ | async)?.numReviews}}
      </div>
    </mat-list-item>
    <mat-list-item role="listitem" *ngIf="(course$ | async)?.average?.workload">
      <h4 mat-line>Average Work</h4>
      <p mat-line>Hours/week</p>
      <div>
        <span *ngIf="(stats$ | async)?.workload">{{(stats$ | async)?.workload | number}} / </span>{{(course$ | async)?.average?.workload | number}}
      </div>
    </mat-list-item>
    <mat-list-item role="listitem" *ngIf="(course$ | async)?.average?.difficulty">
      <h4 mat-line>Average Difficulty</h4>
      <p mat-line>(Easy) 1 - 5 (Hard)</p>
      <div>
        <span *ngIf="(stats$ | async)?.difficulty">{{(stats$ | async)?.difficulty | number}} / </span>{{(course$ | async)?.average?.difficulty | number}}
      </div>
    </mat-list-item>
    <mat-list-item role="listitem" *ngIf="(course$ | async)?.average?.rating">
      <h4 mat-line>Average Rating</h4>
      <p mat-line>(Worst) 1 - 5 (Best)</p>
      <div>
        <span *ngIf="(stats$ | async)?.rating">{{(stats$ | async)?.rating | number}} / </span>{{(course$ | async)?.average?.rating | number}}
      </div>
    </mat-list-item>
    <mat-list-item *ngIf="!grades">
      Grade information not available :(
    </mat-list-item>
  </mat-list>
  <table mat-table #table *ngIf="grades" [dataSource]="grades?.semesterGrades" style="width: 100%">

    <!-- semester Column -->
    <ng-container matColumnDef="semester">
      <th mat-header-cell *matHeaderCellDef> Semester </th>
      <td mat-cell *matCellDef="let element"> {{element.semester | semester}} </td>
    </ng-container>

    <!-- total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Enrolled </th>
      <td mat-cell *matCellDef="let element"> {{element.total | number}} </td>
    </ng-container>

    <!-- a Column -->
    <ng-container matColumnDef="a">
      <th mat-header-cell *matHeaderCellDef> % A </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.a | number}}"> {{100 * (element.a / element.total) | number:'1.1-1'}} </td>
    </ng-container>

    <!-- b Column -->
    <ng-container matColumnDef="b">
      <th mat-header-cell *matHeaderCellDef> % B </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.b | number}}"> {{100 * (element.b / element.total) | number:'1.1-1'}} </td>
    </ng-container>

    <!-- c Column -->
    <ng-container matColumnDef="c">
      <th mat-header-cell *matHeaderCellDef> % C </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.c | number}}"> {{100 * (element.c / element.total) | number:'1.1-1'}} </td>
    </ng-container>

    <!-- d Column -->
    <ng-container matColumnDef="d">
      <th mat-header-cell *matHeaderCellDef> % D </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.d | number}}"> {{100 * (element.d / element.total) | number:'1.1-1'}} </td>
    </ng-container>

    <!-- f Column -->
    <ng-container matColumnDef="f">
      <th mat-header-cell *matHeaderCellDef> % F </th>
      <td mat-cell *matCellDef="let element" matTooltip="{{element.f | number}}"> {{100 * (element.f / element.total) | number:'1.1-1'}} </td>
    </ng-container>

    <!-- w Column -->
    <ng-container matColumnDef="w">
      <th mat-header-cell *matHeaderCellDef> W </th>
      <td mat-cell *matCellDef="let element"> {{element.w | number}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>