<clr-main-container>
  <div class="content-container">
    <div class="content-area">
      <div class="card">
        <div class="card-header">
          Admin Page
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-header">
              Add Alert
            </div>
            <div class="card-block">
              <form [formGroup]="alertForm" novalidate>
                <div class="form-group row">
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <label for="gForm_4">Text area</label>
                  </div>
                  <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                    <textarea id="gForm_4" rows="5" class="form-control" formControlName="text"></textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <label for="gForm_4">Type</label>
                  </div>
                  <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                    <input id="gForm_4" class="form-control" formControlName="type">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="toggle-switch">
                      <input type="checkbox" id="slack" formControlName="slack">
                      <label for="slack">Slack</label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-link" (click)="saveAlert()">Save</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-header">
              Manage Alerts
            </div>
            <div class="card-block" *ngFor="let alert of alerts$ | async">
              {{alert.text}}
              <button class="btn btn-sm btn-danger-outline" (click)="removeAlert(alert)">Remove</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-header">
              Add Course
            </div>
            <div class="card-block">
              <form [formGroup]="courseForm" novalidate>
                <div class="form-group row">
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <label for="gForm_4">Department</label>
                  </div>
                  <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                    <input id="gForm_4" class="form-control" formControlName="department">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <label for="gForm_4">Number</label>
                  </div>
                  <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                    <input id="gForm_4" class="form-control" formControlName="number">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <label for="gForm_4">Name</label>
                  </div>
                  <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                    <input id="gForm_4" class="form-control" formControlName="name">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <label for="gForm_4">Program</label>
                  </div>
                  <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                    <input id="gForm_4" class="form-control" formControlName="program">
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-link" (click)="saveCourse()">Save</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-header">
              Settings
            </div>
            <div class="card-block">
              <form [formGroup]="settingsForm" novalidate>
                <div class="form-group row">
                  <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                    <label for="gForm_4">Cache Length (min)</label>
                  </div>
                  <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
                    <input id="gForm_4" type="number" class="form-control" formControlName="cacheLength">
                  </div>
                </div>
              </form>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-link" (click)="saveSettings()">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</clr-main-container>