<clr-main-container>
  <div class="content-container">
    <div class="content-area">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-header">
              Why Donate?
            </div>
            <div class="card-block">
              <p>Please consider making a contribution (<a href="https://www.paypal.me/martz" target="_blank">PayPal</a>). Even a dollar goes a long way. Thank you!</p>
              <p>Or send me some BTC/BCH/ETH/LTC: 16upmvUidN8KXb97XGGSadzYj3zrEYDzxK</p>
            </div>
            <div class="card-block">
              <div class="card-title">
                January 6, 2018
              </div>
              <div class="card-text" Markdown>
                I've switched us to <a href="https://firebase.google.com/pricing/" target="_blank">Firebase's Blaze (pay as you go) Plan</a> with a $25/month limit.

                I think that will give us more leeway (we don't need some things in the Flame Plan).

                The re-write seems to have been successful so far. I had spent around 50 hours over my Thanksgiving break to do the re-write and have since put in another 40+ over nights and weekends to add features.
                
                ***So... if you don't want to think of it as donating... buy me a beer/coffee?***
              </div>
            </div>
            <div class="card-block">
              <div class="card-title">
                November 19, 2017
              </div>
              <div class="card-text">
                <p>We're currently on
                  <a href="https://firebase.google.com/pricing/" target="_blank">Firebase's Flame Plan</a> @ $25/month.</p>
                <p>We exceeded the Flame Plan's Quota and just finished transferring ownership. Worst case the site will be
                  back up on December 1st. Best case, the owner transfer will reset the clock and we'll figure out how to
                  reduce bandwidth.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="sidenav">
      <section class="nav-group">
        <input id="tabexample2" type="checkbox">
        <label for="tabexample2">External Links</label>
        <ul class="nav-list">
          <li>
            <a class="nav-link" href="https://www.reddit.com/r/OMSCS/">OMSCS subreddit</a>
          </li>
          <li>
            <a class="nav-link" href="https://www.facebook.com/groups/gtomscsstudents/">OMSCS Facebook</a>
          </li>
          <li>
            <a class="nav-link" href="https://omscs-study.slack.com/">OMSCS Slack</a>
          </li>
          <li>
            <a class="nav-link" href="https://www.facebook.com/OMSCentral/">OMSCentral Facebook</a>
          </li>
          <li>
            <a class="nav-link" href="https://twitter.com/OMSCentral">OMSCentral Twitter</a>
          </li>
          <li>
            <a class="nav-link" href="https://www.paypal.me/martz">Donate</a>
          </li>
          <li>
            <a class="nav-link" href="https://www.patreon.com/martzcodes">Patreon</a>
          </li>
        </ul>
      </section>
    </nav>
  </div>
</clr-main-container>