<mat-sidenav-container class="container">
  <mat-sidenav #sidenav class="sidenav" [opened]="true" [mode]="'side'" [fixedInViewport]="true" fixedTopGap="120">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <a mat-button href="https://www.reddit.com/r/OMSCS/">OMSCS subreddit</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-button href="https://www.facebook.com/groups/gtomscsstudents/">OMSCS Facebook</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-button href="https://omscs-study.slack.com/">OMSCS Slack</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-button href="https://www.facebook.com/OMSCentral/">OMSCentral Facebook</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-button href="https://twitter.com/OMSCentral">OMSCentral Twitter</a>
      </mat-list-item>
      <mat-list-item role="listitem">
        <a mat-button href="https://www.paypal.me/martz">Donate</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-card class="card">
      <mat-card-title>
        Why donate?
      </mat-card-title>
      <mat-card-content>
        <p>Please consider making a contribution (
          <a href="https://www.paypal.me/martz" target="_blank">PayPal</a>). Even a dollar goes a long way. Thank you!</p>
        <p>Or send me some BTC/BCH/ETH/LTC: 16upmvUidN8KXb97XGGSadzYj3zrEYDzxK</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title>
        Update
      </mat-card-title>
      <mat-card-subtitle>
        January 6, 2018
      </mat-card-subtitle>
      <mat-card-content Markdown>
        I've switched us to
        <a href="https://firebase.google.com/pricing/" target="_blank">Firebase's Blaze (pay as you go) Plan</a> with a $25/month limit. I think that will give us more leeway (we don't
        need some things in the Flame Plan). The re-write seems to have been successful so far. I had spent around 50 hours
        over my Thanksgiving break to do the re-write and have since put in another 40+ over nights and weekends to add features.
        ***So... if you don't want to think of it as donating... buy me a beer/coffee?***
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-title>
        Update
      </mat-card-title>
      <mat-card-subtitle>
        November 19, 2017
      </mat-card-subtitle>
      <mat-card-content>
        <p>We're currently on
          <a href="https://firebase.google.com/pricing/" target="_blank">Firebase's Flame Plan</a> @ $25/month.</p>
        <p>We exceeded the Flame Plan's Quota and just finished transferring ownership. Worst case the site will be back up
          on December 1st. Best case, the owner transfer will reset the clock and we'll figure out how to reduce bandwidth.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>