.choices {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1vh;
  grid-row-gap: 1vh;
  width: 100%;
}

@media (min-width: 620px) {
  .choices {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1vh;
    grid-row-gap: 1vh;
    width: 100%;
  }
}

@media (min-width: 960px) {
  .choices {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1vh;
    grid-row-gap: 1vh;
    width: 100%;
  }
}

.pull-right {
  justify-content: right;
}

.choice-line {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.course-btn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
