<clr-main-container>
  <div class="content-container">
    <div class="content-area">
      <pre>{{user$ | async | json}}</pre>
      <!-- <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card-columns card-columns-2">
              <oms-review *ngFor="let review of reviews$ | async" [review]="review" (remove)="remove($event)" (update)="update($event)"></oms-review>
            </div>
          </div>
        </div> -->
    </div>
  </div>
</clr-main-container>
