<clr-main-container>
  <div class="content-container">
    <div class="content-area">
      <clr-datagrid>
        <clr-dg-column [clrDgField]="'department'">Department</clr-dg-column>
        <clr-dg-column [clrDgField]="'id'">Number</clr-dg-column>
        <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
        <clr-dg-column [clrDgField]="'numReviews'">Reviews</clr-dg-column>
        <clr-dg-column [clrDgField]="'average.workload'">Avg. Work</clr-dg-column>
        <clr-dg-column [clrDgField]="'average.difficulty'">Avg. Dif.</clr-dg-column>
        <clr-dg-column [clrDgField]="'average.rating'">Avg. Rating</clr-dg-column>

        <clr-dg-row style="cursor: pointer" *clrDgItems="let course of courses$ | async" (click)="goToCourse(course.id)">
          <clr-dg-cell>{{course.department}}</clr-dg-cell>
          <clr-dg-cell>{{course.id}}</clr-dg-cell>
          <clr-dg-cell>{{course.name}}</clr-dg-cell>
          <clr-dg-cell>{{course.numReviews | number}}</clr-dg-cell>
          <clr-dg-cell>{{course.average.workload | number}}</clr-dg-cell>
          <clr-dg-cell>{{course.average.difficulty | number}}</clr-dg-cell>
          <clr-dg-cell>{{course.average.rating | number}}</clr-dg-cell>
        </clr-dg-row>

        <!-- <clr-dg-footer>{{(courses$ | async).length}} courses</clr-dg-footer> -->
      </clr-datagrid>
    </div>
  </div>
</clr-main-container>
