<div class="login-wrapper">
  <div class="login">
    <label class="title">
      <h3 *ngIf="!oobCode" class="welcome">Register for</h3>
      OMS Central
      <h5 *ngIf="!oobCode" class="hint">Share your OMSCS experience with your classmates.</h5>
      <h5 *ngIf="oobCode" class="hint">Please enter your new password below.</h5>
    </label>
    <form *ngIf="!success" [formGroup]="registerForm" novalidate>
      <div class="login-group">

        <input *ngIf="!oobCode" class="username" type="text" id="register_name" placeholder="Name" formControlName="name" required>
        <input *ngIf="!oobCode" class="username" type="text" id="register_email" placeholder="Email" formControlName="email" required>
        <input class="password" type="password" id="register_password" placeholder="Password" formControlName="password" required>

        <div class="btn-group btn-primary">
          <button *ngIf="!oobCode" type="submit" class="btn btn-block" (click)="register()" [disabled]="!registerForm.valid">Create My Account!</button>
          <button *ngIf="oobCode" type="submit" class="btn btn-block" (click)="resetPassword()" [disabled]="!registerForm.valid">Reset Password</button>
        </div>
      </div>
    </form>
    <div class="alert alert-success" *ngIf="success">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
          </div>
          <span class="alert-text">
            Account created. Click <button class="btn btn-sm btn-link signup" (click)="login()">here</button> to login
          </span>
        </div>
      </div>
    </div>
    <br />
    <br />
    <div class="text-center" *ngIf="!oobCode">
      <div class="btn-group btn-link">
        <button class="btn" (click)="social('github')">
          <i class="fa fa-github fa-3x" aria-hidden="true"></i>
        </button>
        <button class="btn" (click)="social('twitter')">
          <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
        </button>
        <button class="btn" (click)="social('facebook')">
          <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
        </button>
        <button class="btn" (click)="social('google')">
          <i class="fa fa-google fa-3x" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <br />
    <br />
    <div class="text-center" *ngIf="!oobCode">
        <div class="signup">
            <span>Already have an account?</span>
            <button class="btn btn-sm btn-link signup" (click)="login()">Login</button>
          </div>
    </div>
  </div>
</div>